html {
    font-family: 'JetBrains Mono', monospace;
    background-color: #ffffff;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    font-size: 16px;
}